---
title: ICMP filtering best practice
---
<p>There is an RFC draft "<a href="https://datatracker.ietf.org/doc/html/draft-ietf-opsec-icmp-filtering-04">Recommendations for
filtering ICMP messages</a>". It discusses various aspects of ICMP usage and its filtering considerations for network operators.
Specifically, it addresses IPv4 in the context of ICMP and provides implementation guidance for filtering or rate limiting various
ICMP types.</p>

<p>Let's take it from there.</p>

<h2>Operational considerations vs security implications</h2>
<p>In a narrow context, "should you allow ICMP echo requests or not"?</p>

<p>ICMP error messages contain a data section that includes a copy of the entire IPv4 header, plus at least the first eight bytes of
data from the IPv4 packet that caused the error message. The length of ICMP error messages should not exceed 576 bytes.[5] This data
is used by the host to match the message to the appropriate process. If a higher level protocol uses port numbers, they are assumed
to be in the first eight bytes of the original datagram's data.[6]</p>

<p>The variable size of the ICMP packet data section has been exploited. In the "Ping of death", large or fragmented ICMP packets
are used for denial-of-service attacks. ICMP data can also be used to create covert channels for communication. These channels are
known as ICMP tunnels. </p>

<div class="code">
<span class="comment"># Block fragmented ICMP.</span><br/>
-A INPUT -p icmp --fragment -j DROP<br/><br/>

<span class="comment"># Allow incoming Path MTU Discovery (ICMP destination-unreachable/fragmentation-needed)</span><br/>
-A INPUT -p icmp --icmp-type 3/4 -m state --state NEW -j ACCEPT<br/><br/>

<span class="comment"># Allow incoming ICMP Port Unreachable to handle UDP</span><br/>
-A INPUT -p icmp --icmp-type 3/3 -m state --state NEW -j ACCEPT<br/><br/>

<span class="comment"># Allow incoming request to decrease rate of sent packets (ICMP Source Quench)</span><br/>
-A INPUT -p icmp --icmp-type 4 -m state --state NEW -j ACCEPT<br/><br/>

<span class="comment"># Allow and throttle incoming ping (ICMP type 8 Echo)</span><br/>
-A INPUT -p icmp --icmp-type 8 -m state --state NEW -m limit --limit 5/s --limit-burst 10 -j ACCEPT
</div>

<h2>References</h2>
<ul>
  <li><a href="https://www.iana.org/assignments/icmp-parameters/icmp-parameters.xhtml">IANA registry for ICMP types and
      codes</a></li>
  <li><a href="https://datatracker.ietf.org/doc/html/draft-ietf-opsec-icmp-filtering-04">Recommendations for filtering ICMP
      messages</a>, an expired IETF RFC draft</li>
  <li><a href="https://datatracker.ietf.org/doc/html/rfc4890">Recommendations for Filtering ICMPv6 Messages in Firewalls</a>, RFC
    4890</li>
  <li><a href="https://sec.cloudapps.cisco.com/security/center/resources/firewall_best_practices">Cisco Firewall Best
      Practices</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Path_MTU_Discovery">Path MTU Discovery</a> on Wikipedia</li>
  <li><a href="https://datatracker.ietf.org/doc/html/rfc6633">Deprecation of ICMP Source Quench Messages</a>, RFC 6633</li>
  <li><a href="https://en.wikipedia.org/wiki/Neighbor_Discovery_Protocol">Neighbor Discovery Protocol</a> on Wikipedia</li>
  <li><a href="https://www.synacktiv.com/en/publications/icmp-reachable">Discussion of attacks enabled by ICMP</a></li>
</ul>
