<p>Claus Peter Schnorr published a paper "<a href="https://eprint.iacr.org/2021/232">Fast Factoring Integers by SVP Algorithms</a>"
with a punchline "<em>This destroys the RSA cryptosystem</em>".</p>

<p>I must say I don't know anything about the applicability of lattices to the factorization problem, so I cannot even judge the
mathematical side of it. Extrapolation looks odd and the consensus among the real cryptographers seems to be that Schnorr's claims
"require independent verification" (that's a nice way to say the paper is bs). In a fun thread (for my definition of fun) on
Cryptography Stack Exchange four answers describe various mistakes in the proof and complexity estimations, so I am not really
holding my breath about it.</p>

<p>Yet, what would you do if it turns out to be true? Let's talk about risks to your Web site or TLS-protected application if RSA is
broken.</p>

<p>First, RSA is slowly sliding in demiss. There are quite a few promoters of Elliptic curve cryptography (ECC), Cloudflare supports
it, Apple uses it in Secure Enclave, and some people have very strong opinions on RSA use. I think, it would be even more popular if
Dual EC DRGB did not happen, but NSA did something really dumb 🤷, so here we are. Nevertheless, you can already buy ECDSA
certificates from a few commercial CAs and use them in combination with RSA certificates. This way, you will use ECDSA with modern
clients capable of ECC, while keeping RSA for compatibility with he old clients.</p>

<p>Second, TLS allows for perfect forward secrecy (PFS), if you choose the right cipher suite. All modern browsers support
PFS-enabled cipher suites, just make sure your server applications are properly configured. If you don't know anything about cipher
suites, just use Mozilla recommendations. With PFS, you can be sure, even if your past communications have been captured, they
cannot be decrypted later, when RSA is broken (or, what is more probable, private key for your Web site certificate is stolen). The
beauty of it is that is still holds if you use RSA certificates.</p>

<p>To sum it up:</p>

<p>Most probably RSA is not broken by Schnorr this time. May be, his approach could be developed into a working algorithm, but it
did not happen yet. At least, not publicly.  You can prepare for a post-RSA future by using ECDSA certificates in addition to RSA
certificates. This way you can keep your clients protected from a passive observer. Also, ECDSA will be slightly faster.  If you
don't do it, you can still use PFS cipher suites and still your clients will be protected from a passive observer, but you'll need
to immediately move to ECSA if RSA will turn out to be broken.</p>


