body {
  background: white;
  line-height: 1.5;
  font-family: 'Helvetica', 'Open Sans', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
  text-decoration: underline dotted;
}

#main {
  width: 700px;
  margin: auto;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  color: #eb4e00;
}

#main h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  color: #eb4e00;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#main div.code {
  background: #f0f0f0;
  color: black;
  font-family: "Courier", monospace;
  padding: 3mm;
}

#main div.code > span.comment {
  color: #666666;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}
