---
title: "ZTNA discussion"
---

<p>Vendors may have different ideas about what <abbr title="Zero Trust Network Architecture">ZTNA</abbr> is, so we will not
recommend vendor articles here. Here are some useful, hopefully vendor-neutral publications:</p>

<ul>
    <li><a href="https://doi.org/10.6028/NIST.SP.800-207">NIST SP 800-207: Zero Trust Architecture</a>. This high level description of 
     <abbr title="Zero Trust Network Architecture">ZTNA</abbr> is useful because it defines a common language for discussing architecture.
     We will try to use the terms from this guide.

    <li><a href="https://github.com/ukncsc/zero-trust-architecture/">Zero trust architecture design principles</a> from UK 
      <a href="https://www.ncsc.gov.uk">National Cyber Security Centre</a>. Folks, who created <a href=
    "https://en.wikipedia.org/wiki/Regin_(malware)">Regin</a> must surely know their stuff.</li>

    <li>Серия статей авторства Google о том, как они внедряли BeyondCorp&nbsp;&mdash; собственную реализацию принципов Zero Trust:

      <ul>
        <li><a href="https://research.google/pubs/pub43231/">BeyondCorp: A New Approach to Enterprise Security</a>. Если есть
        возможность прочитать только одну статью из всего списка литературы, читайте эту.</li>

        <li><a href="https://research.google/pubs/pub44860/">BeyondCorp: Design to Deployment at Google</a>.</li>

        <li><a href="https://research.google/pubs/pub45728/">BeyondCorp: The Access Proxy</a>.</li>

        <li><a href="https://research.google/pubs/pub46134/">Migrating to BeyondCorp: Maintaining Productivity While Improving
        Security</a>.</li>

        <li><a href="https://research.google/pubs/pub46366/">BeyondCorp: The User Experience</a>.</li>

        <li><a href="https://research.google/pubs/pub47356/">BeyondCorp 6: Building a Healthy Fleet</a>.</li>
      </ul>
    </li>

    <li><a href="https://www.oreilly.com/library/view/zero-trust-networks/9781491962183/">Zero Trust Networks</a> (ISBN:
    9781491962190). The book is okay. Нельзя сказать, что там есть много новых и важных мыслей по сравнению с циклом статей Google, но описание
    реализации чуть более практическое, чем у Google, где всё, похоже, самописное. Лучше подходит в качестве руководства к действию
    для нормальных людей.</li>
  </ul>
- [Zero trust architecture design principles](https://github.com/ukncsc/zero-trust-architecture/) from UK National Cyber Security
  Centre (NCSC).
